{% set supplier = hookable_metadata.context.supplier %}

<div class="page-body">
    <div class="container-xl">

        {% for key, value in supplier %}
            <div class="row">
                <div class="col-12">
                    <p>
                        {{ supplier.name }}
                    </p>
                </div>
            </div>
        {% endfor %}

    </div>
</div>
