:root,
[data-bs-theme="light"],
[data-bs-theme="dark"] {
    --tblr-primary: #0ea5e9;
    --tblr-primary-rgb: 14,165,233; /* R,G,B (no spaces) */
    --tblr-primary-fg: #ffffff;
}

:root,
[data-bs-theme="light"],
[data-bs-theme="dark"] {
    --tblr-link-color: var(--tblr-primary);
    --tblr-link-hover-color: rgba(var(--tblr-primary-rgb), .85);
}
